<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sign Up</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

    {% include 'Movies/header.html' %}
</head>

<body>
{% include 'Movies/navbar.html' %}
{% load crispy_forms_tags %}
<main id ='main-form'>

    <div class = "col-6 register" >
        <form method = "POST">
            {%csrf_token%}
            <fieldset class = form-group>
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button type = "submit">Sign Up</button>
            </div>
        </form>
        <small class="text-muted">
        Already have an account? <a class="ml-2" href="#">Sign in</a>
        </small>
    <div class ="border-top pt-3"></div>

    </div>

</main>

  <footer>
      {% include 'Movies/footer.html' %}
  </footer>
</body>
</html>